/*SET SOME DEFAULTS*/
body{
	font-family: 'Titillium Web', Arial, helvetica, sans-serif;
	font-color:#333;
}
h1{
	font-size:24px;
	width:100%;
	border-bottom: 1px solid rgba(240,240,240,.5);
	padding:0 0 10px 0;
	margin:0 0 10px 0;
}
ul{
	list-style-type: none;
}
.fade-in{
}
.content{
	float:left;
	padding:15px;
	border: 1px solid rgba(240,240,240,.25);
	background: rgba(225,225,230,.85);
	font-size:18px;
	line-height:22px;
}
.rounded-corners{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.shadow{
	-webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, .2);
	box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .2);
}
.shadow-light{
	-webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, .05);
	box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .05);
}
.subtle_gradient{
	background: #f0f0f0;
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#e1e1e1 100%);
	background: -o-linear-gradient(top,  #f0f0f0 0%,#e1e1e1 100%);
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#e1e1e1 100%);
	background: linear-gradient(to bottom,  #f0f0f0 0%,#e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e1e1e1',GradientType=0 );
	
}

/*LAYOUT*/
html, body{
	height: 100%;
}

#wrap{
	min-height: 100%;
}
#header_wrapper{
	width:960px;
	margin:0 auto;
}
#header_inner{
	margin: 20px 0 30px;
	float: left;
}
#header_wrapper #logo{
	width: 300px;
	float: left;
}
#header_wrapper #navigation{
	width: 660px;
	float: left;
}
#header_wrapper #navigation-inner{
	float: right;
	margin:64px 0 0 0;
}
#main{
	overflow:auto;
	padding-bottom: 210px;
}  /* must be same height as the footer */
#content{
}
#footer{
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;
}
#footer_inner{
	width:960px;
	margin: 0 auto;
	padding: 20px 0;
}
#footer{
	color: #f5f5fa;
}
.footer-column{
	width:25%;
	float:left;
} 
#footer h4{
	font-weight: 600;
	font-size:18px;
	opacity:.75;
}
#footer ul{
	padding:7px 0 0 0;
}
#footer li{
	padding: 3px 0;
}
#footer a{
	color: #f5f5fa;
	text-decoration:none;
	opacity:.25;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/*LAYOUT STYLING*/
#wrap{
	background: #0079a5;
}
#footer{
	background: #27272b;
}
#navigation-inner{
	padding:0px 1px;
}
#navigation-inner ul{
}
#navigation-inner ul li{
	float: left;
	margin: 0 1px;
	background:rgba(225,225,230,.85);
	border: 1px solid rgba(240,240,240,.25);
}
#navigation-inner ul li a{
	display: block;
	text-decoration: none;
	color:#333;
	font-size:18px;
	padding:10px 20px;
}
#navigation-inner ul li.first{
	background: rgba(255,192,0,.9);
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
#navigation-inner ul li.last{
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-right: 0;
}
/*GENERAL FORM STYLING*/
label{
	font-size:20px;
	padding-top:7px;
}
input{
	font-size:18px;
}
input.text-input{
	height:30px;
	border: 1px solid #ddd;
	background: rgb(245,245,245);
	background: rgba(245,245,245,.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left:10px;	
}
input.text-input:focus{
	background: #fff;
}
button, input.submit{
	height:40px;
	border: 1px solid #ddd;
	background: rgb(245,245,245);
	background: rgba(245,245,245,.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:20px;
	color: rgba(51,51,51,.75);
	padding: 0px 10px 4px;
	cursor:pointer;
	outline:none;
	margin:0 10px 0 0;
}
button::-moz-focus-inner, select::-moz-focus-inner {
  border: 0;
}
select{
	outline:none;
	background: none;
	width: 330px;
	padding: 5px;
	font-size: 16px;
	border:none;
	font-size:20px;
	color: rgba(51,51,51,.75);
	cursor:pointer;
	height:34px;
	-webkit-appearance: button;
	-moz-appearance:button;
}
.styled-select{
	width: 300px;
	height: 34px;
	overflow: hidden;
	background: url(../assets/images/select-arrow.png) no-repeat right rgba(245,245,245,.75);
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:20px;
	color: rgba(51,51,51,.75);
	cursor:pointer;
}
.styled-select.narrow{
	width:80px;
	float: left;
	margin: 0 15px 0 0;
}
select.color-selector{
	width:100px;
}
.styled-select.narrow.sleeve{
	width:105px;
	margin:0;
}
select.color-selector.sleeve{
	width:125px;
}
/*END GENERAL FORM STYLING*/

/*BEGIN QUOTE FORM*/
#quote_form_container{
	width:960px;
	margin:0 auto;
	padding:20px 0 0 0;
}
#form_wrapper{
	width:500px;
	float:left;
	margin-right:26px;
}
#result_wrapper{
	width:370px;
	float:left;
}
#quote_form .form-field-container{
	width:100%;
	margin:10px 0 0 0;
	height:40px;
}
#quote_form .form-field-container label{
	float:left;
	width:190px;
}
#quote_form .form-field-container input.text-input{
	width:58%;
}
#shirt_gender_container, #shirt_color_container, #shirt_model_container, #shirt_type_container{
	display:none;
}
#quote_button_container{
	padding-left:189px;
	margin-top:10px;
}
#quote_form .error{
	color: red;
}
#quote_value_container li{
	font-size:20px;
	margin:5px 0;
}
#quote_value_container li strong{
	font-weight:600;
}  
#shirt_addon_container{
	display:none;
}
#shirt_addon_container label{
	padding:none;
	float:left;
}
#shirt_addon_container input{
	float:left;
}
#quote_mailer_container{
	display: none;
}

#quote_mailer_container button{
	width: 100%;
	float: left;
	margin: 15px 0 0 0;
	font-size: 19px;
}
/*END QUOTE FORM*/

/*MAILING LIST FORM STYLING*/
#join_mailing_list_form {
	padding: 7px 0;
}
#join_mailing_list_form input{
	width:100%;
	margin:8px 0 10px 0;
}
/*END MAILING LIST FORM*/

/*PORTFOLIO STYLYING*/
#portfolio_container{
	width:960px;
	margin:0 auto;
	padding:20px 0 0 0;
}
/*END PORTFOLIO STYLING*/